*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    width: 100vw;
    height: 100vh;
}

.home{
    width: 100%;
    height: 100vh;
    background-color: #0066ff;
}

.box{
    background-color: #fff;
    padding: 40px;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
    border-radius: 10px;
}

h2{
    color: #fff;
    position: fixed;
    top: 200px;
    left: 200px;
    font-size: 4rem;
}

.box h1{
    color: black;
    font-size: 3rem;
    line-height: 3rem;
}

button{
    padding: 10px 30px ;
    font-size: 1.1rem;
    border-radius: 2rem;
    border: none;
    background-color: #0066ff;
    color: #fff;

}
