*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    width: 100vw;
    height: 100vh;
}

.home{
    width: 100%;
    height: 100%;
}

.home .img{
    width: 50%;
    background-color: #0066ff;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img h1{
    color: #fff;
    font-size: 15rem;
    text-align: center;
    line-height: 13rem;
}

.home .box{
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.content h1{
    font-size: 3rem;
    line-height: 3rem;
}

button{
    border: none;
    border-radius: 2rem;
    padding: 10px 30px;
    background-color: #0066ff;
    font-size: 1.1rem;
    color: #fff;
}


